<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .ServerConfig.Name }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/index.css" />
  </head>
  <body>
    <h1>{{ .ServerConfig.Name }}</h1>
    <nav id="breadcrumbs"></nav>

    {{ if .ServerConfig.AllowUploads }}
    <div class="upload-container">
      <div class="upload-section">
        <h2 class="upload-title">Upload Files</h2>
        <div id="drop-area">
          <form id="upload-form">
            <label for="file-upload" class="file-label">
              <i class="fa-solid fa-upload"></i>
              <span>Choose Files</span>
            </label>
            <input type="file" id="file-upload" name="files" multiple />
            <p class="drop-text">or drag and drop files here</p>
            <button type="button" id="upload-button" class="hidden">
              Upload
            </button>
          </form>
        </div>
        <p id="upload-status"></p>
      </div>
    </div>
    {{ end }}

    <div class="search-container">
      <input type="search" id="search-input" placeholder="Search files..." />
    </div>

    <div class="bulk-actions">
      <button id="download-selected-btn" class="hidden">
        Download Selected
      </button>
    </div>

    <table class="file-table">
      <thead>
        <tr>
          <th><input type="checkbox" id="select-all-checkbox" /></th>
          <th>Name</th>
          <th>Size</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Files }}
        <tr
          data-file-path="{{$.CurrentPath}}/{{.Name}}"
          data-is-dir="{{.IsDir}}"
        >
          <td>
            {{ if not .IsDir }}
            <input type="checkbox" class="file-checkbox" />
            {{ end }}
          </td>
          <td class="file-name-cell">
            <a
              href="{{ if .IsDir}} ?dir={{$.CurrentPath}}/{{.Name}} {{else}} /download?file={{$.CurrentPath}}/{{.Name}}&view=1 {{end}}"
              class="file-link"
            >
              <i
                class="fa-solid file-icon {{ if .IsDir }}fa-folder folder{{ else }}fa-file file{{ end }}"
              ></i>
              <span class="file-name">{{ .Name }}</span>
            </a>
          </td>
          <td>{{ .Size }}</td>
          <td>{{ if .IsDir }}Directory{{ else }}File{{ end }}</td>
          <td>
            <div>
              {{ if not .IsDir }}
              <a
                href="/download?file={{$.CurrentPath}}/{{.Name}}"
                class="download-link"
                download
              >
                Download
              </a>
              {{ end }}
            </div>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>

    <h1>Uid: {{ .Uid }}</h1>

    <script>
      window.uid = "{{ .Uid }}";
    </script>

    <script src="/assets/index.js"></script>
  </body>
</html>
