<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .ServerConfig.Name }}</title>
    <link rel="stylesheet" href="/assets/view.css" />
  </head>
  <body>
    <div class="content-container">
      <h1>{{ .ServerConfig.Name }}</h1>

      <div class="file-details">
        <h3>File Details</h3>
        <p><strong>File Name:</strong> {{ .File }}</p>
        <a href="/download?file={{ .File }}">Download File</a>

        <div class="hosts-container">
          <h3>Available Hosts</h3>
          <ul class="hosts-list">
            {{ range .Hosts }}
            <li class="host-item">
              <span class="host-ip">{{ . }}</span>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>

      {{ if eq .MimeType "image" }}
      <img src="/download?file={{ .File }}&view=1" alt="Image Preview" />
      {{ else if eq .MimeType "video" }}
      <video controls>
        <source src="/download?file={{ .File }}&view=1" />
        Your browser does not support the video tag.
      </video>
      {{ else if eq .MimeType "csv" }}
      <div class="csv-preview">
        <h3>CSV Content Preview</h3>
        <div id="csv-table-container" class="csv-table-container">
        </div>
      </div>
      <script>
        window.csvFilePath = "/download?file={{ .File }}&view=1";
      </script>
      {{ end }}
    </div>
    <script src="/assets/papaparse.min.js"></script>
    <script src="/assets/view.js"></script>
  </body>
</html>
